body {
  font-family: sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  resize: none;
  margin-bottom: 10px;
  line-height: 1.6;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #e0e0e0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
