body {
  font-family: sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
}

input {
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px;
  margin-left: 10px;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

li {
  background: #006994;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
.delete-btn {
  float: right;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e60000;
}
